header{
  /* display: flex; */
  background-color: #61dafbaa;
  font-family: CondensedOne;
  font-size: 2rem;
  text-align: center;
  
}

.graph{
  height: 20rem;
  align-content: center;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}


@font-face {
  font-family: "CondensedOne";
  src: url("./fonts/SpecialGothicCondensedOne-Regular.ttf");
}
